.introduction{
    margin-top: 3%;
    padding: 1.5%;
    
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 6px;
    color: #818E8E;
}

.decription{
    font-size: 15px;
    margin-bottom: 0px !important;
}

@media screen and (max-width: 900px) {
    .introduction{
        margin-top: 3%;
        padding: 5%;
        background-color: rgba(128, 128, 128, 0.1);
        border-radius: 6px;
        color: #818E8E;
    }   
}